html {
  font-size: 62.5%;
  height: fit-content;
  overflow-x: hidden;
}

::placeholder {
  color: #cdcbd7;
  opacity: 0.6;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-secondary);
}

:root {
  --color-primary: #243370;
  --color-secondary: #d31d23;
  --color-accent: #737373;
  --color-content: #2c2e35;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
textarea {
  resize: none;
}
/* alert */
.alert {
  width: fit-content;
  padding: 0.5rem;
  color: var(--color-primary);
  border: 4px solid var(--color-secondary);
  transform: skew(-10deg);
  margin: auto;
}
@media screen and (min-width: 768px) {
  .alert {
    padding: 0.5rem;
  }
}
.more__btn {
  border: none;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}
body {
  color: var(--color-content);
  font-size: 3.3rem;
  line-height: 1.5;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, serif;
}
/* fonts */
h1,
h2,
h4 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, serif;
  text-transform: capitalize;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h6 {
  margin: 0%;
}
p {
  margin: 0;
  font-size: 1.2rem;
  text-align: start;
  transition: color 0.6s;
}
p:hover {
  color: var(--color-secondary);
}
input {
  font-size: 1.6rem;
  outline: none;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 4rem;
  }
}
a {
  text-decoration: none;
}
p {
  font-size: 2rem;
}
input {
  font-size: 1.6rem;
}
/* list */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0%;
  /* color: white; */
}

.list--inline {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
@media screen and (win-width: 768px) {
  .list--inline {
    flex-direction: row;
  }
}

/* icons */
.icon {
  padding-top: 1rem;
  fill: var(--color-primary);
  width: 40%;
}
.icon__container {
  text-align: center;
  border: 4px solid var(--color-primary);
  width: fit-content;
  border-radius: 10px;
}
.flip-card .icon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon__header {
  text-transform: capitalize;
  text-align: center;
  color: var(--color-primary);
  font-size: 1.2rem;
}
/* flip-card */
.flip-card {
  background-color: transparent;
  width: 30%;
  height: 100%;
  max-height: 15rem;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-transform: capitalize;
}
.flip-card-front {
  background-color: white;
  color: black;
}
.flip-card-back {
  background-color: #ffffff;
  color: var(--color-primary);
  border: 5px solid var(--color-primary);
  transform: rotateY(180deg);
  font-size: 1.4rem;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
}
.flip-card-back p {
  text-transform: none;
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) {
  .flip-card {
    width: 30%;
    height: 100%;
  }
}
/* buttons */
.btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
  background-color: #ffffff;
  transition: background, color;
  transition-duration: 0.6s;
}
.btn--primary {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.btn--secondary {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}
.btn--secondary a {
  color: var(--color-secondary);
  transition: color 0.7s;
}
.btn--primary a {
  color: var(--color-primary);
  transition: color 0.7s;
}

.btn--primary:hover {
  color: white;
  background-color: var(--color-primary);
  border: 2px solid white;
}
.btn--secondary:hover {
  color: white;
  background-color: var(--color-secondary);
  border: 2px solid white;
}
.btn--primary:hover a {
  color: white;
}
.btn--secondary:hover a {
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* input */
.input {
  border-radius: 30px;
  border: 1px solid #ccc;
  color: var(--color-primary);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -webkit-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -moz-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* title */
.title {
  padding-top: 1rem;
  text-align: center;
  margin: 0%;
  width: fit-content;
}
.title--small{
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}
.title--small__text::before{
  content: '•';
}
.line {
  width: 2rem;
  height: 0;
  margin: 7px 3px;
  display: inline-block;
}
.line--red{
  border: 4px solid var(--color-secondary);
  background-color: var(--color-seccondary);
}
.line--blue{
  background-color: var(--color-primary);
  border: 4px solid var(--color-primary);
}
.title__header {
  display: inline-block;
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .line {
    width: 4rem;
    height: 0;
    margin: 5px 3px;
    display: inline-block;
  }
}

/* grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* collapsibles */
.collapsible__toggle {
  transition: transform 0.7s;
  fill: var(--color-accent);
}

.collapsible__content {
  overflow: hidden;
  max-height: 0%;
  transition: max-height 0.5s;
}

.collapsible--expanded .collapsible__toggle {
  transform: rotate(180deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
}

.collapsible__container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

/* nav */
.nav {
  position: fixed;
  top: 0%;
  z-index: 1;
  width: 100vw;
  background: #ffffff95;
  box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 6rem;
  transition: height 0.5s;
}

.collapsible--expanded.nav {
  height: 100vh;
  background-color: #ffffff;
}

.nav__list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}
.nav__brand__container {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item .active {
  border-bottom: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.nav__item .inactive {
  color: var(--color-primary);
}
.nav__item a {
  font-size: 2rem;
  text-decoration: none;
}

.nav__brand {
  height: 80%;
  flex-grow: 0;
}

.nav__collapsible__container {
  padding-right: 2rem;
  margin-bottom: 1rem;
  width: 10%;
  height: 40%;
}
.nav__brand{
  height: 7.5vh;
  padding: 0.5rem;
}
.nav .collapsible__toggle {
  fill: var(--color-primary);
}
@media screen and (max-width: 450px) {
  .nav__collapsible__container .collapsible__toggle {
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    top: 0%;
    left: 0%;
    right: 0%;
    box-shadow: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 6.5rem;
  }
  .nav__collapsible__container {
    display: none;
  }
  
  .nav__list {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    font-size: 2.2rem;
    opacity: 1;
    max-height: 100%;
  }

  .nav__item :hover {
    color: var(--color-secondary);
  }

  .nav__item {
    margin: 0 1rem 0 3rem;
  }

  .nav__item a {
    font-size: 1.6rem;
    padding-bottom: 0.3rem;
    white-space: nowrap;
    transition: color 0.4s;
    color: var(--color-primary);
  }
  .nav__item .active {
    color: var(--color-secondary);
  }
  .nav__brand__container {
    width: auto;
  }
  .nav__brand{
    height: 7rem;
  }
}

/* hero */
.hero {
  position: relative;
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__header {
  font-size: 4rem;
  margin: 0;
  color: white;
  text-align: center;
}
.hero__quote {
  color: white;
  font-family: "Spirax", cursive;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  max-width: 300px;
}
.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero__image {
  background: url(./images/hero-mobile-bg.webp);
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
.hero__toggle {
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}
.hero__arrow {
  fill: white;
  width: 30px;
  margin-bottom: 20px;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: jumpingArrow;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  padding-bottom: 1rem;
}

.hero__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-repeat: repeat-x;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@keyframes jumpingArrow {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 100vh;
  }
  .hero__header {
    width: 100%;
    font-size: 9rem;
  }
  .hero__quote {
    max-width: 450px;
  }
  .hero__image {
    background-image: url(./images/hero-test.webp);
    position: absolute;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
  }
}
/* info */
.info {
  background: url(./images/vision-bg-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.info__title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info__text {
  margin: 3rem;
  margin-top: 2rem;
  font-size: 2.7rem;
  padding: 1rem;
  align-self: center;
  text-align: center;
  overflow: hidden;
  width: 85vw;
  height: fit-content;
  box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -webkit-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -moz-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  background: #ffffff80;
  color: var(--color-primary);
  border-radius: 5px;
  overflow: hidden;
}
.info__btn {
  background-color: #ffffff40;
}
@media screen and (min-width: 768px) {
  .info {
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(./images/vision-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    filter: brightness(70%);
  }
  .info__title {
    text-align: center;
    top: 0%;
  }

  .info__text {
    width: 97%;
    max-width: 700px;
    font-size: 2.5rem;
    height: fit-content;
    margin-top: auto;
    overflow: scroll;
    box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    -webkit-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    -moz-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    align-self: center;
    background: #ffffff99;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
/* clients */
.clients {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.clients__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.client__img {
  width: 20rem;
  height: 20rem;
  background-color: white;
  position: relative;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  z-index: 0;
}
.client__img:hover {
  transform: scale(1.3);
  opacity: 0.8;
}
.client__img img {
  border: 3px solid var(--color-primary);
  width: 80%;
}
.client__img:hover .client__content__item {
  opacity: 1;
  font-size: 1.6rem;
}
.client__img:hover .client__content__title {
  font-size: 1.8rem;
}
.client__content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
  align-items: center;
  position: absolute;
  text-align: center;
  transition: transform 0.4s, font-size 0.3s;
}
.client__content__item {
  font-size: 0;
  opacity: 0;
  transition: font-size 0.3s, transform 0.4s, color 0.4s, fill 0.4s;
  text-decoration: none;
  color: var(--color-primary);
}
.client__content__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
}
.client__content__item:hover {
  transform: scale(1.3);
  color: var(--color-secondary);
  fill: var(--color-secondary);
}
.clients__header {
  align-self: center;
}
@media screen and (min-width: 768px) {
  .clients__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .client__img {
    align-self: center;
    justify-self: center;
    width: 55%;
  }
  .clients {
    overflow: hidden;
  }
}
@media screen and (min-width:2560px) {
  .client__img img {
    width: 50%;
  }
}
/* services */
.services {
  overflow-x: hidden;
  width: 100vw;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.services__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .triangle {
    height: 50rem;
    top: 40%;
    z-index: 0;
  }
  .triangle--right {
    clip-path: polygon(55% 48%, 0 0, 0 100%);
    position: absolute;
    left: 0;
  }
  .triangle--blue {
    background-color: var(--color-primary);
  }
  .triangle--red {
    background-color: var(--color-secondary);
  }
  .triangle--left {
    clip-path: polygon(55% 48%, 100% 0, 100% 100%);
    position: absolute;
    right: 0;
  }
  .triangle--bottom {
    width: 50%;
  }
  .triangle--top {
    width: 55%;
  }
}
.row {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row .flip-card {
  font-size: 1rem;
  margin: 1rem;
  width: 10rem;
  height: 20rem;
}
.row .flip-card-back p {
  text-align: left;
  font-size: 1.3rem;
}
.row--3 {
  width: 100%;
  height: 25%;
}
.row .icon__header {
  font-size: 1.3rem;
}
.row .icon {
  font-size: 3.5rem;
}
@media screen and (min-width: 768px) {
  .row {
    justify-content: space-around;
  }
  .row .flip-card {
    width: 13rem;
    height: 17rem;
    z-index: 1;
  }
  .row .flip-card-back p {
    text-align: left;
    font-size: 1.6rem;
  }
  .row--2 {
    justify-content: space-evenly;
  }
  .row--3 .flip-card {
    width: 15%;
  }
  .row .icon__header {
    font-size: 1.5rem;
  }
  .row .icon {
    font-size: 5rem;
  }
}
@media screen and (max-width: 350px) {
  .row .icon__header {
    font-size: 1rem;
  }
  .row .icon {
    font-size: 3rem;
  }
}
.row--2 {
  width: 100%;
  height: 25%;
}
.row--1 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}
/* contact */
.contact {
  height: fit-content;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 0;
}
.contact__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__message {
  resize: none;
}
.errMsg {
  color: var(--color-secondary);
  margin: 0%;
  font-size: 1.5rem;
}
.contact__item {
  border-radius: 5px;
  border: 0;
  width: 70vw;
  padding: 1.5rem;
  background-color:#24337030;
  color: var(--color-primary);
  box-shadow: 0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  -webkit-appearance: none;
}
.contact__item:focus {
  outline: 0;
}
.contact__item::placeholder {
  padding-left: 1rem;
}
.contact__field .label {
  align-self: flex-start;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  font-size: 2rem;
}
.contact__btn {
  align-self: center;
  margin-bottom: 2rem;
  padding: 2rem 5rem;
  margin-top: 5rem;
  flex-grow: 0;
  transition: all 0.6s;
}

.contact__alternative ul {
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-primary);
}
@media screen and (min-width: 768px) {
  .contact__inputs {
    display: flex;
    flex-direction: row;
  }
  .errMsg {
    font-size: 1.8rem;
  }
  .contact__item {
    width: 90vw;
    max-width: 60rem;
    height: 8.5vh;
  }
  .contact__message {
    height: 30vh;
    width: 75vw;
  }
  .contact__field {
    align-items: center;
    justify-content: center;
  }
  .contact__field .label {
    align-self: flex-start;
    margin: 2rem 0 1rem 0.5rem;
  }
  .contact__alternative {
    font-size: 3rem;
  }
}
/* aboutUS */
.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  max-height: fit-content;
}
.aboutUs__card__container{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
  margin: 3rem 0;
}
.aboutUs__card {
  width: 35rem;
  background-color: white;
  border: 5px solid var(--color-primary);
  border-bottom: 10px solid var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  margin: 3rem 0;
  text-align: justify;
}
.aboutUs__title{
  margin: 0;
  margin-bottom: 1rem;
}
.aboutUs__icon {
  fill: var(--color-primary);
  padding: 0.5rem;
  width: 4rem;
  height: 4rem;
}
.aboutUs__text{
  padding: 0.8rem;
  color: var(--color-primary);
}
.aboutUs__btn{
  margin-bottom: 2rem;
}
@media screen and (min-width:768px) { 
  .aboutUs__card__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3rem;
  }
  .aboutUs__card{
    width: 35rem;
  }
}
  /* Why Us */
.whyUs {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  align-items: center;
}
.whyUs__img {
  background: url(./images/whyus-bg.webp);
  background-size: cover;
  background-position: center;
  align-self: center;
  width: 90vw;
  height: 50vh;
  margin-bottom: 2rem;
  -moz-box-shadow: 23px 23px 0px 2px var(--color-secondary);
  -webkit-box-shadow: 23px 23px 0px 2px var(--color-secondary);
  box-shadow: 23px 23px 0px 2px var(--color-secondary);
}
.whyUs__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.whyUs__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyUs__text {
  font-size: 2.2rem;
  color: var(--color-primary);
}
.whyUs__btn {
  width: fit-content;
  padding: 2rem;
  margin: 3rem;
}
.whyUs__list{
  color: var(--color-primary);
  list-style-type:circle;
  padding-left: 1rem;
  font-size: 2.2rem;
}
.whyUs__list__title{
  padding-left: 0;
  margin: 3rem 1rem 3rem 0;
}
.whyUs__list__header{
  font-weight: bold;
  color: var(--color-secondary);
}
@media screen and (min-width: 768px) {
  .whyUs {
    align-items: flex-start;
  }
  .whyUs__header {
    margin: 2rem;
    margin-left: 7vw;
  }
  .whyUs__title {
    margin: 2rem 0;
  }
  .whyUs__text {
    margin-top: 1rem;
    font-size: 2.4rem;
  }
  .whyUs__list{
    padding-left: 0;
    font-size: 2.4rem;
  }
  .whyUs__img {
    height: 50vh;
    width: 82vw;
    -moz-box-shadow: 23px 23px 0px 2px var(--color-secondary);
    -webkit-box-shadow: 23px 23px 0px 2px var(--color-secondary);
    box-shadow: 23px 23px 0px 2px var(--color-secondary);
  }
  .whyUs__btn {
    width: fit-content;
    margin-left: 7vw;
  }
}
/* section */
.section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 85vw;
  margin-left: 5%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.section__img {
  background: url(./images/mission-bg.webp);
  background-position: center;
  background-size: cover;
  width: 90vw;
  height: 50vh;
  -moz-box-shadow: 12px 12px 0px 1px var(--color-secondary);
  -webkit-box-shadow: 12px 12px 0px 1px var(--color-secondary);
  box-shadow: 12px 12px 0px 1px var(--color-secondary);
}
.section__content {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: var(--color-primary);
}
.section__btn {
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 85vw;
    height: 85vh;
    -moz-box-shadow: 9px 5px 0px 5px var(--color-secondary);
    -webkit-box-shadow: 9px 5px 0px 5px var(--color-secondary);
    box-shadow: 9px 5px 0px 5px var(--color-secondary);
  }
  .section__content {
    width: 75%;
    height: 75%;
    padding: 2rem 3rem;
    text-align: justify;
  }
  .section__img {
    width: 65vw;
    height: 65vh;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.current-tab a {
  color: var(--color-secondary);
}
/* modal */
.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  color: var(--color-primary);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 1.4rem 2.8rem;
  max-width: 60rem;
  min-width: 30rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-box-shadow: 16px 16px 0 1px var(--color-secondary);
  -webkit-box-shadow: 16px 16px 0 1px var(--color-secondary);
  box-shadow: 16px 16px 0 1px var(--color-secondary);
}

.modal__icon {
  fill: var(--color-primary);
  padding-top: 1.5rem;
  width: 8rem;
  height: 8rem;
}
@media screen and (min-width: 768px) {
  .contact .title,
  .about .title,
  .info .title,
  .whyUs .title,
  .clients .title,
  .services .title {
    padding-top: 4rem;
  }
}
/* admin */
.admin {
  height: 100vh;
  padding-top: 4rem;
}
.admin__header {
  border-bottom: solid 1px black;
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary);
  text-align: center;
  color: white;
}
.admin__heading{
  text-transform: capitalize;
}
.admin__content {
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: row;
}
.admin__side {
  width: 12%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: solid 1px black;
}
.admin__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.admin__btn {
  text-align: center;
  width: fit-content;
  font-size: 1rem;
  border: none;
  margin: 1rem 0.5rem;
  background-color: transparent;
  color: white;
  transition: border-width 0.6s;
}
.active__display{
  color: var(--color-secondary);
  width: 100%;
}
.admin__table {
  align-self: flex-start;
  width: 100%;
  margin: 10px 10px;
  color: var(--color-primary);
}
.admin__table th {
  font-size: 1rem;
}
.admin__table tr {
  font-size: 0.7rem;
}
.admin__table,
.admin__table th,
.admin__table td {
  border: 1px solid black;
}
.logout__btn {
  color: red;
  position: fixed;
  bottom: 0;
}

.delete__btn__col {
  text-align: center;
}

td{
  padding: 5px;
}

.delete__btn__col button {
  color: red;
}

@media screen and (min-width: 768px) {
  .admin__table th {
    font-size: 2rem;
  }
  .admin__table tr {
    font-size: 1.6rem;
  }
  .admin__btn{
    font-size: 1.6rem;
  }
}
/* messages */
.message__item{
  display: flex;
}
.message__content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.message{
  font-size: 1.5rem;
}
.message__title{
  font-size: 1.8rem;
}
.message__content--msg{
  display: 'flex' ;
  justify-content: 'start';
  align-items: 'center';
  padding: 2rem;
}
.message__delete{
  width: fit-content;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
}
@media screen and (min-width:768px) {
  .message{
    font-size: 2rem;
  }
  .message__title{
    font-size: 2.5rem;
  }
}
/* login page */
.login__page {
  width: 100vw;
  height: 100vh;
  background: #313131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.login__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .login__content {
    width: 330px;
  }
}

.login__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  background: #737373;
  color: white;
  padding: 0 10px;
}

.login__button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin: 15px 0 0 0;
  font-size: 1.8rem;
  background: var(--color-primary);
  color: white;
}

.login__button:active {
  transform: scale(0.98);
}

.login__button:disabled {
  opacity: 0.5;
}

.err__msg {
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  background: red;
  color: white;
  padding: 0 10px;
}
/* feedback */
.feedback{
  display: flex;
  flex-direction: column;
  align-items:center;
}
/* reviews comments */
.reviews__container{
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.review{
  color: var(--color-primary);
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 1.5rem;
  box-shadow: 0px 0px 29px -5px rgba(69,69,69,0.75);
  -webkit-box-shadow: 0px 0px 29px -5px rgba(69,69,69,0.75);
  -moz-box-shadow: 0px 0px 29px -5px rgba(69,69,69,0.75);
  border-radius: 5px;
}
@keyframes shimmer{
  0%{
    background-position: 100% 100%;
  }
  100%{
    background-position: 0 0;
  }
}
.profile__logo{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-image: linear-gradient(
      90deg,
      #EEEEEE 0% ,#EEEEEE 40%,
      #DDDDDD 50% , #DDDDDD 55%,
      #EEEEEE 65% ,#EEEEEE 100%
    );
    background-size: 400%;
    animation-name: shimmer;
    animation-duration:  1.5s;
    animation-iteration-count: infinite;
    margin-right: 0.5rem;
}
.review__id{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.review__name{
  font-size: 1.6rem;
}
.timeStamp{
  opacity: 0.7;
  color: rgb(151, 146, 146);
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: auto;
}
.review__comment{
  font-size: 1.2rem;
}
.comments__toggle__container{
  margin-top: 5rem;
}
.comments__toggle{
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  width: 5rem;
  height: 5rem;
  fill: var(--color-primary);
}
@keyframes spin {
  0% {
      transform:rotate(0deg);
  }
  50%{
    transform:rotate(360deg);
  }
  100% {
      transform:rotate(360deg);
  }
}
@media screen and (min-width:768px) {
  .review{
    width: 50vw;
  }
  .profile__logo{
    width: 5rem;
    height: 5rem;
  }
  .review__name{
    font-size: 3rem;
  }
  .review__comment{
    font-size: 1.6rem;
  }
  
}
/* quote */
.quote {
  height: 100vh;
  width: 98vw;
  padding: 4rem 0;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote__field .label {
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  font-size: 2rem;
}
.quote__input {
  border-radius: 5px;
  border: 0;
  width: 70vw;
  padding: 1.5rem;
  margin: 1rem;
  color: var(--color-primary);
  background-color:#24337030;
  box-shadow: 0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  -webkit-appearance: none;
}
.quote__textarea {
  height: 20vh;
}
@media screen and (min-width: 768px) {
  .quote__textarea {
    height: 30vh;
  }
  .quote__input{
    width: 90vw;
    max-width: 60rem;
    height: 8.5vh;
  }
}

.messages {
  background-color: #737373;
  height: 80%;
  width: 100%;
}

.message__btn {
  background: none;
  display: flex;
  border: none;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 1px solid;
}
/* language */
.language__input{
  background: transparent;
  align-self: center;
  color: var(--color-primary);
  border:none;
  padding: 0%;
}
.language__input option{
  color:#000
}
.arabic{
  direction: rtl;
  text-align: right;
  align-self: left;
}
.whyUs__header--arabic , .section__title--arabic , .nav__list--arabic{
  align-items: flex-end;
}
.contact__field .label--arabic{
  align-self: flex-end;
}
.quote .label--arabic{
  margin-left: 0;
  margin-right: 1.5rem;
  align-self: flex-end;
}
@media screen and (min-width:768px){
  .nav__list--arabic{
    flex-direction: row-reverse;
  }
  .whyUs--arabic{
    align-items: flex-end;
  }
  .whyUs__img--arabic{
    box-shadow: -23px 23px 0px 2px var(--color-secondary);
    margin-right: 3rem;
    align-self: flex-end;
  }
}