html {
  font-size: 62.5%;
  height: fit-content;
}
@media screen and (max-width:400px) {
  html{
    overflow-x: hidden;
  }  
    
}
::placeholder {
  color: #cdcbd7;
  opacity: 0.6;
}

:root {
  --color-primary: #243370;
  --color-secondary: #d31d23;
  --color-accent: #737373;
  --color-content: #2c2e35;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
textarea{
  resize: none;
}
/* alert */
.alert{
    width: fit-content;
    padding: 0.5rem;
    color: var(--color-secondary);
    border: 4px solid var(--color-primary);
    transform: skew(-10deg);
    margin: auto;
  }
  @media screen and (min-width:768px) {
    .alert{
    padding: 0.5rem;
    }
    
  }
.more__btn{
  border: none;
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  text-decoration: underline;
  
}
body {
  color: var(--color-content);
  font-size: 3.3rem;
  line-height: 1.5;
  overflow-x: hidden;
}
/* fonts */
h1,
h2,
h4 {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}
h6{
  margin: 0%;
  color: red;
}
p {
  margin: 0;
  font-size: 1.2rem;
  text-align: justify;
}
input{
  font-size: 1.6rem;
  outline: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 4rem;
  }
}
a {
  text-decoration: none;
}
p{
  font-size: 2rem;
}
input{
  font-size: 1.6rem;
}
/* list */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0%;
  /* color: white; */
}

.list--inline {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

@media screen and (win-width: 768px) {
  .list--inline {
    flex-direction: row;
  }
}

/* icons */
.icon {
  padding-top: 1rem;
  fill: var(--color-primary);
  width: 40%;
}
.icon__container {
  text-align: center;
  border: 4px solid var(--color-primary);
  width: fit-content;
  border-radius: 10px;
}
.flip-card .icon__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icon__header {
  text-transform: capitalize;
  text-align: center;
  color: var(--color-primary);
  font-size: 1.2rem;
}
/* flip-card */
.flip-card {
  background-color: transparent;
  width: 30%;
  height: 100%;
  max-height: 15rem;
  perspective: 1000px; 
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  text-transform: capitalize;
}
.flip-card-front {
  background-color: white;
  color: black;
}
.flip-card-back {
  background-color: var(--color-primary);
  color: white;
  transform: rotateY(180deg);
  font-size: 1.4rem;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
}
.flip-card-back p {
  text-transform: none;
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) {
  .flip-card {
    width: 30%;
    height: 100%;
  }
}
/* buttons */
.btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0; 
  background-color: #ffffff;
  transition: background , color;
  transition-duration:  0.6s;
}
.btn--primary {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.btn--secondary {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}
.btn--secondary a {
  color: var(--color-secondary);
  transition: color 0.7s;
}
.btn--primary a {
  color: var(--color-primary);
  transition: color 0.7s;
}

.btn--primary:hover {
  color: white;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.btn--secondary:hover {
  color: white;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}
.btn--primary:hover a{
  color: white;
}
.btn--secondary:hover a{
  color: white;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* input */
.input {
  border-radius: 30px;
  border: 1px solid #ccc;
  color: var(--color-primary);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -webkit-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -moz-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
}

@media screen and (min-wdith: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* title */
.title {
  text-align: center;
  margin: 0%;
  width: fit-content;
}

.line {
  width: 2rem;
  height: 0;
  border: 4px solid;
  margin: 7px 3px;
  display: inline-block;
}
.line--red {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}
.line--blue {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.title__header {
  display: inline-block;
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .line {
    width: 4rem;
    height: 0;
    border: 3px solid var(--color-primary);
    margin: 5px 3px;
    display: inline-block;
  }
}

/* grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* collapsibles */
.collapsible__toggle {
  transition: transform 0.7s;
  fill: var(--color-accent);
}

.collapsible__content {
  /* max-height: 0; */
  display: none;
  overflow: hidden;
  opacity: 0;
}

.collapsible--expanded .collapsible__toggle {
  transform: rotate(180deg);
}

.collapsible--expanded .collapsible__content {
  opacity: 1;
}

.collapsible__container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

/* nav */
.nav {
  position: fixed;
  top:0%;
  z-index: 1;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  height: 6rem;
  transition: height 0.5s;
}

.collapsible--expanded.nav {
  height: 100vh;
  background-color: #ffffff;
}

.nav__list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav__brand__container {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  margin-bottom: 1rem;
}
.nav__item .active{
  color: var(--color-secondary);
}
.nav__item .inactive{
  color: var(--color-primary);
}
.nav__item a {
  font-size:2.5rem ;
  text-decoration: none;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-secondary);
}

.nav__brand {
  height: 80%;
  flex-grow: 0;
}

.nav__collapsible__container {
  padding-right: 2rem;
  margin-bottom: 1rem;
  width: 10%;
  height:40%;
}
@media screen and (max-width:450px) {
  .nav__collapsible__container .collapsible__toggle{
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    position: fixed;
    background-color: #ffffff80;
    backdrop-filter: blur(5px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
  }

  .nav__collapsible__container {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    font-size: 2.2rem;
    opacity: 1;
  }

  .nav__item :hover {
    color: var(--color-secondary);
  }

  .nav__item {
    margin: 0 0 0 3rem;
    margin-right: 1rem;
  }

  .nav__item a {
    font-size: 1.6rem;
    border: 0;
    white-space: nowrap;
    transition: color 0.4s;
  }

  .nav__brand {
    padding-top: 1rem;
    height: 90%;
    padding: 0;
  }

  .nav__brand__container {
    width: auto;
  }
}

/* hero */
.hero {
  position: relative;
  height: 95vh;
  width: 100vw;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.hero a {
  color: var(--color-primary);
}

.hero a:hover {
  color: var(--color-secondary);
}

.hero__image {
  background: url(./images/hero-bg-mobile.webp);
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.hero__header {
  font-size: 4rem;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: var(--color-primary);
  text-align: center;
}

.hero__btn {
  padding: 2rem 5rem;
}

.hero__toggle {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero__toggle > p {
  margin: 0;
  color: white;
}
.hero__link{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__link >p{
  font-size: 1.7rem;
}
.hero__arrow {
  fill: white;
  width: 30px;
  margin-bottom: 20px;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: jumpingArrow;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  padding-bottom: 1rem;
}

@keyframes jumpingArrow {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) {
  .hero{
    height: 100vh;
  }
  .hero__image {
    background: url(./images/hero-image-blur.webp);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
  }
}
/* about */
.about {
  /* background-color: #e41f2620; */
  margin-top: 6rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
}
.about__content {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}
.about__btn {
  align-self: center;
  margin-bottom: 2rem;
}
.about__btn a{
  color: var(--color-primary);
}
.about__title .title__header {
  margin: 0;
  text-align: left;
}
.about__img {
  width: 90%;
  margin-bottom: 1rem;
  margin-top: 3rem;
  justify-self: center;
  align-self: center;
  -moz-box-shadow: 11px 11px 0px 2px var(--color-primary); 
  -webkit-box-shadow: 11px 11px 0px 2px var(--color-primary); 
  box-shadow: 11px 11px 0px 2px var(--color-primary);
}
.about__text {
  margin-bottom: 2rem;
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .about {
    margin-block: 8rem;
    height: 90vh;
  }
  .about__title{
    margin: 0;
    margin-bottom: 1rem;
  }
  .about__title .title {
    text-align: left;
  }
  .about__text{
    margin-top: 5rem;
    align-self: flex-start;
  }
  .about__img {
    width: 80%;
    -moz-box-shadow: 28px 28px 0px 5px var(--color-primary); 
    -webkit-box-shadow: 28px 28px 0px 5px var(--color-primary); 
    box-shadow: 28px 28px 0px 5px var(--color-primary);
  }
  .about__btn {
    align-self: flex-start;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__img {
    margin: 2rem 2rem;
  }
}
/* info */
.info {
  background: url(./images/vision-bg-mobile.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.info__title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info__text {
  margin: 3rem;
  margin-top: 2rem;
  font-size: 2.7rem;
  padding: 1rem;
  align-self: center;
  text-align: center;
  overflow: hidden;
  width: 85vw;
  height: fit-content;
  background-color: white;
  box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -webkit-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  -moz-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
  background: #ffffff70;
  border-radius: 5px;
  overflow: hidden;
}
.info__btn{
  background-color: #ffffff40;
}
@media screen and (min-width: 768px) {
  .info {
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(./images/vision-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .info__title {
    text-align: center;
    top: 0%;
  }

  .info__text {
    width: 97%;
    max-width: 700px;
    font-size: 2.5rem;
    height: fit-content;
    margin-top: 15rem;
    overflow: scroll;
    box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    -webkit-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    -moz-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    align-self: center;
    background: #ffffff80;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
/* clients */
.clients{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.clients__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.client__img {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__header{
  align-self: center;
}
@media screen and (min-width: 768px) {
  .clients__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .client__img {
    align-self: center;
    justify-self: center;
    width: 55%;
  }
  .clients {
    overflow: hidden;
  }
}
/* services */
.services {
  height: 100vh;
  width: 100vw;
  margin-top: 3rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.services__title{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .triangle {
    height: 70%;
    top: 55%;
    z-index: 0;
  }
  .triangle--right {
    clip-path: polygon(55% 48%, 0 0, 0 100%);
    position: absolute;
    left: 0;
  }
  .triangle--blue {
    background-color: var(--color-primary);
  }
  .triangle--red {
    background-color: var(--color-secondary);
  }
  .triangle--left {
    clip-path: polygon(55% 48%, 100% 0, 100% 100%);
    position: absolute;
    right: 0;
  }
  .triangle--bottom {
    width: 50%;
  }
  .triangle--top {
    width: 55%;
  }
}
.row {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row .flip-card {
  font-size: 1rem;
  margin: 1rem;
  width: 10rem;
}
.row .flip-card-back p{
  text-align: left;
  font-size: 1.3rem;
}
.row--3 {
  width: 100%;
  height: 25%;
}
.row .icon__header {
  font-size: 1.3rem;
}
.row .icon {
  font-size: 3.5rem;
}
@media screen and (min-width: 768px) {
  .row {
    justify-content: space-around;
  }
  .row .flip-card {
    width: 13rem;
    height: 17rem;
    z-index: 1;
  }
  .row .flip-card-back p{
    text-align: left;
    font-size: 1.6rem;
  }
  .row--2 {
    justify-content: space-evenly;
  }
  .row--3 .flip-card {
    width: 15%;
  }
  .row .icon__header {
    font-size: 1.5rem;
  }
  .row .icon {
    font-size: 5rem;
  }
}
@media screen and (max-width: 350px) {
  .row .icon__header {
    font-size: 1rem;
  }
  .row .icon {
    font-size: 3rem;
  }
}
.row--2 {
  width: 100%;
  height: 25%;
}
.row--1 {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
}
/* contact */
.contact {
  padding-block: 5rem;
  background-color: white;
  height: fit-content;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
  z-index: 0;
}
.contact__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__message{
  resize: none;
}
.errMsg{
  color: var(--color-secondary);
  margin: 0%;
  font-size: 1.5rem ;
}
.contact__item {
  border-radius: 5px;
  border: 0;
  width: 70vw;
  padding: 1.5rem;
  color: #2c2e35;
  box-shadow:0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  -webkit-appearance: none ;
}
.contact__item:focus {
  outline: 0;
}
.contact__item::placeholder {
  padding-left: 1rem;
}
.contact__field .label {
  align-self: flex-start;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  font-size: 2rem;
}

.contact__btn {
  align-self: center;
  margin-bottom: 2rem;
  padding: 2rem 5rem;
  margin-top: 5rem;
  flex-grow: 0;
  transition: all 0.6s;
}

.contact__alternative ul {
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
}
.contact__icon{
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
}
@media screen and (min-width: 768px) {
  .contact__item {
    width: 90vw;
  }
  .contact__inputs {
    display: flex;
    flex-direction: row;
  }
  .errMsg{
    font-size: 1.8rem;
  }
  .contact__item {
    max-width: 60rem;
    height: 8.5vh;
  }
  .contact__message {
    height: 30vh;
    width: 75vw;
  }
  .contact__field {
    align-items: center;
    justify-content: center;
  }
  .contact__field .label {
    align-self: flex-start;
    margin: 2rem 0 0 0.5rem;
  }
  .contact__alternative {
    font-size: 3rem;
  }
}
/* Why Us */
.whyUs {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  align-items: center;
}
.whyUs__img {
  background: url(./images/whyus-bg.webp);
  background-size: cover;
  background-position: center;
  align-self: center;
  width: 90vw;
  height: 50vh;
  margin-bottom: 2rem;
  -moz-box-shadow: 23px 23px 0px 2px var(--color-secondary);
  -webkit-box-shadow: 23px 23px 0px 2px var(--color-secondary);
  box-shadow: 23px 23px 0px 2px var(--color-secondary);
}
.whyUs__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.whyUs__text {
  font-size: 2.2rem;
}
.whyUs__btn {
  width: fit-content;
  padding: 2rem;
  margin: 3rem;
}
@media screen and (min-width: 768px) {
  .whyUs{
    align-items: flex-start;
  }
  .whyUs__header {
    margin: 2rem;
    margin-left: 7vw;
  }
  .whyUs__title {
    margin: 2rem 0;
  }
  .whyUs__text {
    margin-top: 1rem;
    font-size: 2.4rem;
  }
  .whyUs__img {
    height: 50vh;
    width: 82vw;
    -moz-box-shadow: 23px 23px 0px 2px var(--color-secondary);
    -webkit-box-shadow: 23px 23px 0px 2px var(--color-secondary);
    box-shadow: 23px 23px 0px 2px var(--color-secondary);
  }
  .whyUs__btn {
    width: fit-content;
    margin-left: 7vw;
  }
}
/* section */
.section{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 85vw;
  margin-top: 7%;
  margin-left: 5%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.section__img{
  background: url(./images/mission-bg.webp);
  background-position:center;
  background-size: cover;
  width: 90vw;
  height: 50vh;
  -moz-box-shadow: 12px 12px 0px 1px var(--color-secondary); 
  -webkit-box-shadow: 12px 12px 0px 1px var(--color-secondary); 
  box-shadow: 12px 12px 0px 1px var(--color-secondary);
}
.section__content{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.section__btn{
  margin: 2rem 0;
  align-self: center;
}
@media screen and (min-width:768px) {
  .section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin-bottom: 10rem;
    -moz-box-shadow: 35px 35px 0px 1px var(--color-secondary); 
    -webkit-box-shadow: 35px 35px 0px 1px var(--color-secondary); 
    box-shadow: 35px 35px 0px 1px var(--color-secondary);
  }
  .section__content{
    width: 75%;
    height: 75%;
    padding: 2rem 3rem;
    text-align: justify;
  }
  .section__img{
    width: 65vw;
    height: 65vh;
    border: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .section__btn{
    align-self: flex-start;
  }
}
.current-tab a{
  color: var(--color-secondary);
}
/* modal */
.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(49,49,49,0.8);
}
.modal-content {
  color: var(--color-primary);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 1.4rem 2.8rem;
  max-width: 60rem;
  min-width: 30rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-box-shadow: 16px 16px 0 1px var(--color-secondary); 
  -webkit-box-shadow: 16px 16px 0 1px var(--color-secondary); 
  box-shadow: 16px 16px 0 1px var(--color-secondary);
}

.modal__icon{
  fill: var(--color-primary);
  padding-top: 1.5rem;
  width: 8rem;
  height: 8rem;
}
@media screen and (min-width:768px) {
  .contact .title, 
  .about .title ,
  .info  .title,
  .whyUs .title,
  .clients .title,
  .services .title{
    padding-top: 4rem;
  }
  
}
/* admin */
.admin{
  height: 100vh;
  padding-top: 4rem;
}
.admin__header{
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary);
  text-align:center;
  color:white;
}
.admin__content{
  height: 100%;
  display: flex;
  flex-direction: row;
}
.admin__side{
  width: 12%;
  height: 80%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.admin__section{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.admin__btn{
  text-align: center;
  border: none;
  margin: 1rem 0.5rem;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  transition: width 0.6s;
}
.admin__btn:hover{
  width: 100%;
}
.admin__table{
  align-self: flex-start;
  width: 100%;
}
.admin__table th{
  font-size: 1.6rem;
}
.admin__table tr{
  font-size: 1.2rem;
}
.admin__table,
.admin__table th ,
.admin__table td 
  {
  border: 1px solid black;
}
.logout__btn{
  color: red;
}
@media screen and (min-width:768px) { 
  .admin__table th{
    font-size: 2rem;
  }
  .admin__table tr{
    font-size: 1.6rem;
  }
}

/* login page */
.login__page {
  width: 100vw;
  height: 100vh;
  background: #313131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.login__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .login__content {
    width: 330px;
  }
}

.login__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  background: #737373;
  color: white;
  padding: 0 10px;
}

.login__button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin: 15px 0 0 0;
  font-size: 1.8rem;
  background: var(--color-primary);
  color: white;
}

.login__button:active {
  transform: scale(0.98);
}

.login__button:disabled {
  opacity: 0.5;
}

.err__msg {  
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  background: red;
  color: white;
  padding: 0 10px;
}
/* quote */
.quote{
  height: 100vh;
  width: 98vw;
  padding: 4rem 0;
  background-color: white;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote__field .label{
  align-self: flex-start;
  margin-top: 2rem;
  margin-left: 0.7rem ;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  font-size: 2rem;
}
.quote__input{
  border-radius: 5px;
  border: 0;
  width: 50vw;
  padding: 1.5rem;
  margin: 1rem;
  color: #2c2e35;
  box-shadow:0 0 2px #000;
  -webkit-box-shadow: 0 0 2px #000;
  -moz-box-shadow: 0 0 2px #000;
  -webkit-appearance: none ;
}
.quote__textarea{
  height: 20vh;
}
@media screen and (min-width:768px){
  .quote__textarea{
    height: 30vh;
  }
}